/*
 * General settings
 */

body { 
    margin: 10px; 
    padding: 0; 
}

body, th, td {
    font-family: Verdana,Arial,'Bitstream Vera Sans',Helvetica,sans-serif;
    font-weight: normal;
    font-size:   13px;
}

h1, h2, h3, h4 {
    font-family:      Arial,Verdana,'Bitstream Vera Sans',Helvetica,sans-serif;
    font-weight:      bold;
    page-break-after: avoid;
}

h1 { font-size: 19px }
h2 { font-size: 16px }
h3 { font-size: 14px }

a:link {
    color: #a0a0ff;
}
a:visited {
    color: #a0a0a0;
}

address { font-style: normal }

pre {
    border:           1pt solid #a0a0a0;
    background-color: #f0f0f0;
    font-family:      courier, monospace;
    font-size:        90%;
    overflow:         auto;
}

dt {
    font-weight: bold;
}

table {
    border:          1px solid #a0a0a0;
    border-collapse: collapse;
    border-spacing:  0;
}

img {
    border: none;
}

hr {
    height: 2px;
    background-color: #a0a0a0;
    border: 0px;
}

/* 
 * Individual classes
 */

a.external-link {
    background:   url(images/external-link.png) left center no-repeat;
    padding-left: 16px;
}

a.email-link {
    background:   url(images/email-link.png) left center no-repeat;
    padding-left: 16px;
}

.section-img { 
    float:         left;
    width:         64px;
    height:        64px;
    padding-right: 16px;
}

.code {
    font-family: courier, monospace;
}

.good {
    color: #80e080;
    font-weight: bold;
}

.bad {
    color: #e08080;
    font-weight: bold;
}